* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff; /* Ensure a light background */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Consistent font */
}

.login-card {
  background-color: #fff;
  padding: 70px 50px 44px 30px;
  margin: 0 10px 0px 50px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px; /* Adjust max-width for a better fit */
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

h3 {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1rem;
}

.login-form {
  display: grid;
  gap: 16px;
}

.login-form > input,
.login-form > button {
  width: 100%;
  height: 50px; /* Adjust height for a better fit */
  padding: 0 16px;
  border-radius: 8px; /* Round the corners */
  font-size: 16px;
}

.login-form > input {
  border: 2px solid #ddd;
}

.login-form > button {
  cursor: pointer;
  background: #216ce7;
  color: #fff;
  border: none;
  font-weight: 600;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

.login-form > button:hover {
  background-color: #0056b3;
}

.redirect-btn {
  margin-top: 12px;
  background-color: #294fa6;
  color: #fff;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 8px;
  padding: 0 16px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.redirect-btn:hover {
  background-color: #003d7a;
}

.toast-container {
  z-index: 1000;
}
