



.Toastify__toast-container {
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 9999;
  padding: 8px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.Toastify__toast {
  margin-top: 10px; /* Adjust for spacing from top */
  max-width: 600px; /* Adjust as needed */
  width: 100%;
}